/*  Stylesheet for: 'my-cv'
*
*   SCSS
=============================================================================*/
/* Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600,300italic,400italic,600italic,700italic,800italic);
.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  letter-spacing: -0.07em;
  line-height: 1.4em;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

.wrapper {
  margin: 0 auto;
  margin: 2vw;
  background-color: #f0f0f0; }

.row {
  padding: 15px;
  border-bottom: 3px solid #F4FA58; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95vw;
    max-width: 78em; }

  .column-1 {
    width: 8.33333vw; }

  .column-2 {
    width: 16.66667vw; }

  .column-3 {
    width: 25vw; }

  .column-4 {
    width: 33.33333vw; }

  .column-5 {
    width: 41.66667vw; }

  .column-6 {
    width: 50vw; }

  .column-7 {
    width: 58.33333vw; }

  .column-8 {
    width: 66.66667vw; }

  .column-9 {
    width: 75vw; }

  .column-10 {
    width: 83.33333vw; }

  .column-11 {
    width: 91.66667vw; }

  .column-12 {
    width: 100vw; } }
html {
  background-color: #f4fa58; }

h1 {
  margin: 0 !important;
  line-height: 1em;
  font-weight: 800;
  font-size: 3em !important; }

h2 {
  margin: 0 0 15px 0;
  letter-spacing: -0.07em;
  line-height: 1.4em;
  font-weight: 300;
  font-size: 1.5em; }

ul {
  list-style-type: none; }

li {
  float: left;
  margin: 0 10px 10px 0; }

a {
  display: inline-block; }

.intro img {
  float: left;
  width: 110px;
  max-width: 100vw;
  height: 150px;
  max-height: 100vh;
  border: 2vw solid #fff;
  margin: 0 15px 0 0; }
