/*  Stylesheet for: 'mePage'
*
*   SCSS
=============================================================================*/
/* Imports */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600,300italic,400italic,600italic,700italic,800italic);
.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  padding: 2% 2%;
  color: #23262e;
  letter-spacing: -0.07em;
  line-height: 1.4em;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #23262e; }

.wrapper {
  margin: 0 auto; }

.row {
  padding: 1em;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #fac82e; }

[class*='column-'] {
  float: left;
  padding: 0.5em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 78em; }

  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }
h1 {
  margin: 0 !important;
  line-height: 1em;
  font-weight: 800;
  font-size: 3em !important; }

h2 {
  margin: 0 !important;
  line-height: 0.9em;
  font-weight: 800;
  font-size: 2em !important;
  color: #23262e; }

h3 {
  margin: 0 0 1em 0 !important;
  font-weight: 800;
  font-size: 1.25em !important;
  color: #23262e; }

h4 {
  margin: 0 0 0.6em 0;
  letter-spacing: -0.07em;
  font-weight: 300;
  color: #23262e; }

ul {
  text-align: left;
  list-style-type: none; }
  ul img {
    vertical-align: middle; }

span {
  font-weight: 700; }

a {
  color: #e67e22;
  text-decoration: none; }
  a:hover {
    text-shadow: 0 0 2px #fac82e; }
  a:active {
    color: #fac82e; }

.intro {
  background-color: #e67e22;
  color: rgba(255, 255, 255, 0.9); }
  .intro h2 {
    margin: 0 0 0.938em 0;
    letter-spacing: -0.07em;
    font-weight: 300;
    font-size: 1.5em;
    color: #23262e; }
  .intro .me-pic {
    margin: 0 15px 0 0;
    float: left;
    width: 110px;
    max-width: 100%;
    height: 150px;
    max-height: 100%;
    border: 5px solid rgba(255, 255, 255, 0.9); }
  .intro .bio {
    max-width: 25em; }

.bullet-point-list,
.inline-list {
  text-align: left;
  list-style-type: none; }
  .bullet-point-list img,
  .inline-list img {
    vertical-align: middle; }

.inline-list {
  margin-top: 10px; }
  .inline-list img {
    height: 40px; }
  .inline-list li {
    display: inline-block; }

.bullet-point-list img {
  height: 30px; }

.skills.titles {
  height: 100%; }

.projects img:hover {
  -webkit-box-shadow: 0px 0px 18px 2px #f58624;
  -moz-box-shadow: 0px 0px 18px 2px #f58624;
  -o-box-shadow: 0px 0px 18px 2px #f58624;
  box-shadow: 0px 0px 18px 2px #f58624; }
.projects:active {
  -webkit-box-shadow: 0px 0px 18px 2px #f58624;
  -moz-box-shadow: 0px 0px 18px 2px #f58624;
  -o-box-shadow: 0px 0px 18px 2px #f58624;
  box-shadow: 0px 0px 18px 2px #f58624; }
.projects .project-thumbnail {
  height: 100%;
  width: 90%;
  border: 1px solid #23262e; }

.tech-bars-display {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-align: left; }
  .tech-bars-display li {
    margin-bottom: 1em; }
    .tech-bars-display li .skill-bar {
      display: flex;
      justify-content: left;
      width: 100%;
      height: 7px;
      background-color: #d8d8d8; }
      .tech-bars-display li .skill-bar .skill-level-indicator {
        align-self: center;
        height: 3px;
        background-color: #f58624; }

.responsive-level,
.vertical-level,
.git-level,
.pair-level,
.creative-level,
.communicator-level {
  width: 90%; }

.jquery-level,
.sql-level {
  width: 75%; }

.css-level,
.testing-level,
.tdd-level {
  width: 80%; }

.html-level {
  width: 85%; }

.ruby-level,
.js-level,
.photoshop-level {
  width: 70%; }

.job-description li, p {
  margin-bottom: 1em; }

.job-sub-title {
  padding-top: 0;
  padding-left: 0; }

.job-sub-title p:last-of-type {
  margin-bottom: 1em; }

.border-bottom-none-row {
  border-bottom: 0; }

.horizontal-padding {
  padding-top: 0;
  padding-bottom: 0; }

.vertical-padding {
  padding-left: 0;
  padding-right: 0; }

.remove-padding {
  padding: 0; }

/*# sourceMappingURL=style.css.map */
